<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary">
          <p>I am currently five years into my career with a great deal under my belt. Progressing with each team before asking to be moved to create the greatest productive impact I can. I work to improve my skill sets where ever I can, both in my personal and professional coding experience. I am currently working with my manager to both improve and prove my skill set to reach my companies senior level position.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Michigan Technological University</h3>
          <h4 class="resume-item-details">Bachelors Degree &mdash; Computer Engineering &bull; Software Engineering Focus</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a target="_blank" href="http://github.com/blinktenor/DND">DND Coordination System</a></h3>
          <h4 class="resume-item-details">Primary Developer &bull; Jan 2016 &mdash; Present</h4>
          <p class="resume-item-copy">An open source app that lets users store characters and interface with DM. Uses Node, socket.io, foundation6, javascript, and ajax.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Front-End Web Development</h4>
          <p class="resume-item-copy">JavaScript, HTML, and CSS. Frameworks include jQuery, and Foundation.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Back-End Web Development</h4>
          <p class="resume-item-copy">Java, JavaScript, Socket.io, MsSql, and MySQL. Frameworks include Tomcat and Express.</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Testing Specialization</h4>
          <p class="resume-item-copy">Cucumber, Selenium, junit, jMockit and mockito.</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">ACM Programming Competition</h3>
          <h4 class="resume-item-details">Winning Team &bull; 2002</h4>
          <p class="resume-item-copy">Worked with a team to win competition. Focused primarily on algorithms while team implemented them.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Boston Area Rape Crisis Center</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2015 </h4>
          <p class="resume-item-copy">Developed software using Apache POI to convert legacy file to excel format. Used regex parsing to identify key data points as well as organized data to user specifications.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}
	  
	        {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item">
          <h3 class="resume-item-title">Follett Software &mdash; McHenry IL/Hingham MA</h3>
          <h4 class="resume-item-details">Software Developer I/II &bull; Jun 2011 &mdash; Present </h4>
          <p class="resume-item-copy">Member of flagship software for introductory year before transferring to satellite office. Became a cornerstone in the State Reporting team. Trained several developers to replace me before transferring to product devopement. During my time I created several great improvements to both the development process and testing infrastructure before integrating into the product development team.</p>
          <ul class="resume-item-list">
            <li>Worked in test driven development environment with Agile and Pair Programming</li>
			<li>Championed regression testing virtual machine management and implemented heads up software to monitor those machines in real time</li>
			<li>In the span of two years trained four new team members while reducing the backlog of tasks from 200+ to single digits</li>
			<li>Optimized data performance while handling information of over 200,000 students per report</li>
			<li>Engineer and implement acceptance testing architecture</li>
			<li>Organize and facilitate 'lunch and learns' to incorporate outside knowledge to team</li>
			<li>Promote several initiatives to increase productivity including PP, TDD, acceptance testing, and unit testing at new campus</li>
			<li>Develop tools to integrate product management tools and automate task generation</li>
			<li>Redesign system architecture and MS SQL queries to facilitate traversal of large data sets for optimized user experience</li>
          </ul>
          <p class="resume-item-copy">I worked hard to catch up on my late start in my career. I look forward to the opportunity to continue to do so.</p>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">StorageMart &mdash; Lombard, IL</h3>
          <h4 class="resume-item-details">Property/General Manager &bull; Dec 2008 &mdash; Jun 2011</h4>
          <p class="resume-item-copy">Managed multiple properties at different times throughout the Chicago land region. Responsibilities included:</p>
<ul class="resume-item-list">
            <li>Weekly reporting and budget management submitted to the Regional Manager</li>
<li>Promoted from Assistant Manager to General Manager in first month of employment</li>
<li>Mastered Surveillance System and taught it to other property managers</li>
<li>Training of new employees on UHaul and UPS systems and procedures</li>
		  </ul>
		  
        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item">
          <h3 class="resume-item-title">Canton Computers &mdash; International Falls, MN</h3>
          <h4 class="resume-item-details">Retail Salesman/Repairman &bull; Jan 2008 &mdash; Dec 2008 & May 2006 &mdash; Aug 2006</h4>
          <p class="resume-item-copy">Salesman and training to be weekend manager. Part time job during the summer, then while finishing my degree.</p>

        </div><!-- end of resume-item -->

		        <div class="resume-item">
          <h3 class="resume-item-title">Boise Cascade Paper Solutions &mdash; Lombard, IL</h3>
          <h4 class="resume-item-details">Help Desk Operator &bull; Jan 2007 &mdash; Aug 2007</h4>
          <p class="resume-item-copy">Internship while in college. Second in command of help desk operations at the mill. Streamlined work to allow for fast issue turn around times.</p>
        </div><!-- end of resume-item -->

		        <!-- another resume item -->
        <div class="resume-item">
          <h3 class="resume-item-title">Cabinet Clinic &mdash; Livonia, MI</h3>
          <h4 class="resume-item-details">Software Developer &bull; 2002</h4>
          <p class="resume-item-copy">Developed software for point of sales and reporting system. Updated system and database from legacy paradox database to Microsoft access. Also designed new user interface and reporting system.</p>
		  
        </div><!-- end of resume-item -->
		
      </section>
      <!-- end Experience -->
      {% endif %}
	  
    </div>

  </body>

</html>
